$space-xs: 0.25rem;
$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 1.5rem;
$space-xl: 2rem;
$text-small: 1rem;
$text-medium: 1.125rem;
$text-large: 1.5rem;
$title-small: 1.5rem;
$title-medium: 2rem;
$title-large: 4rem;
$main-color: #99c24c;
$second-color: #4d5056;
$blue-links: #21a1a1;